@use "variables" as *;
/* -------------------- HEADER -------------------- */
header{
    .nav-petsitter{
    background-color: $secundario;
    }
    .logo {
    height: 60px;
    width: auto;
    margin-left: 10px;
    }
}




