@use "variables" as *;
/* -------------------- MEDIA QUERIES -------------------- */
/* --------------- MOBILE ----------------- */

@media (max-width: 480px) {

  header {
    flex-direction: column;
    align-items: center;

    .logo {
    margin-left: 0;
    }
  }

  .banner-section {
    justify-content: center;
    padding-right: 0;
    h1{
      font-size: 3.5rem;
    }
  }
  .section-title {
    font-size: 3rem;
  }
  


  .bannerPaginas-section h1{
  font-size: 3.5em;
  }
  
  .bannerPaginas-section p {
  text-align: center;
  max-width: 85%;
  margin: 15px auto 0 auto;
  font-size: 1rem;
  }



/* Mobile aboutMe section */
  .aboutMe-description {
    flex-direction: column;
    width: 90%;
    height: auto;
    .aboutMe-text {
      width: 90%;
    }
  .aboutMe-photo {
    margin-left: 0;
    img {
      height: 150px;
    }
    }
  
  }





  /* Mobile servicios section */
.services-div{
  .services-grid {
      grid-template-areas:
        "dayVisit"
        "nightStay"
        "litter"
        "homeCare"
        "playTime"
        "foodWater"
        "medicine"
        "photos";
      grid-template-columns: 1fr;
      width: 80%;
      gap: 20px;
    }
}
  
/* Mobile tips section */
.info-div{
  p{
    font-size: 1.1rem;
    text-align: left;
    padding:  0 20px;
  }
  .tips-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    .info-card {
      width: 100%;
      margin-bottom: 40px;
      padding: 25px 20px 35px 20px;
      border-radius: 12px;
      h3 {
        font-size: 1.8rem;
        width: 100%;    
        text-align: center;   
      }
      iframe {
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }
    }
  }

}



/* Mobile contacto section */
.form-section{
  .div-form{
    width: 90%;
  }
}

  

}


/* --------------- TABLET ----------------- */

@media (min-width: 481px) and (max-width: 1080px) {
  header {
    flex-direction: column;
    align-items: center;

    .logo {
    margin-left: 0;
    }
  }

  .banner-section {
    justify-content: center;
    padding-right: 0;
    h1{
      font-size: 4rem;
    }
  }

.section-title {
  font-size: 3.5rem;
} 
  .bannerPaginas-section {
    p{
    text-align: center;
    max-width: 85%;
    margin: 15px auto 0 auto;
    }
}



/* tablet aboutMe section */
  .aboutMe-description {
    flex-direction: column;
    width: 90%;
    height: auto;
    .aboutMe-text {
      width: 90%;
    }
  .aboutMe-photo {
    margin-left: 0;
    img {
      height: 200px;
    }
    }
  
  }


.services-div{
  .services-grid {
      grid-template-areas:
        "dayVisit nightStay"
        "litter homeCare"
        "playTime foodWater"
        "medicine photos";
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      gap: 20px;  
    }
}

  
/* tablet tips section */
.info-div{
  p{
    text-align: left;
  }

  .tips-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    .info-card {
      width: 100%;
      margin-bottom: 40px;
      padding: 25px 20px 35px 20px;
      border-radius: 12px;
      h3 {
        font-size: 2rem;
        width: 100%;    
        text-align: left;   
      }
      iframe {
        width: 100%;
        height: 250px;
        border-radius: 10px;
      }
    }
  }

}



/* tablet contacto section */
.form-section{
  .div-form{
    width: 80%;
  }
}


  

}