@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

/* -------------------- PALETA DE COLORES -------------------- */
$fondo-crema:#F7F4EA;
$white: #FFFFFF;
$terciario: #B87C4C;
$secundario: #aabca3;
$buttonColorHover: #a46c3f;

/* -------------------- FAMILY FONT -------------------- */
$fontBody:  "Quicksand", sans-serif;
$titleFont: "Bebas Neue", sans-serif;